@import './shared/var.scss';
.category-content {
  width: 100%;
  height: 120px;
  background: teal;
  border-radius: 4px;
}

.notification {
  padding: 12px;
  background: $blue;
  color: black;
  border-radius: 5px;
  // box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
  .shop-example {
    padding: 10px;
    border-radius: 5px;
    background: rgba($black, 0.3);
  }
}

.summary {
  display: flex;
  padding: 30px 0;
  margin-bottom: 20px;
  background: $blue;
  border-radius: 5px;
  width: 100%;

  .data {
    flex: 1;
    text-align: center;
  }
}

.text-right {
  text-align: right;
}

.category {
  width: 150px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  &:hover {
    cursor: pointer;
  }
  &.selected {
    box-shadow: inset 1px 0px 5px $yellow, inset -1px 0px 5px $yellow,
      inset 0px 1px 5px $yellow, inset 0px -1px 5px $yellow;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .text {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    z-index: 3;
    word-break: break-all;
  }
}
